/* Dark Mode */
.dark-mode {
    background: #020a13;
    background-image: url();
    color: white;
  }
  
  .dark-mode .icon-dark{
    color: #fff;
    
  }

  .dark-mode  .nav-link {
    color: #fff;
  }

  .dark-mode .navbar-brand {
    color: #fff;
  }

  .dark-mode .navbar-toggler{
    background-color: #fff;
    color: blue;
  }

  .dark-mode > footer  {
    background-color: rgb(255, 255, 255);
  }


  /* ------------- */
