@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');
* {
    font-family: 'Poppins', sans-serif;

  }

  body {
    background-image: url(../images/background.png);
}

@media screen and (min-width:320px) and (max-width:978px) {

  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-image {
    width: 200px;
    height: 100%;
    margin-bottom: 10px;
    margin-left: -40px;
  }
  
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url(../images/background.png);
        background-position: center;
    }

}

    @media only screen and (min-width: 600px) {
    body {
        background-image: url(../images/background.png);
        background-position: center;
    }
}

@media screen and (max-width: 600px){
    body {
        background-image: url(../images/background.png);
        background-position: center;
    }
}

li>a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;

}

li>a:hover::after, li>a.active-nav::after {
    width: 100%;
    background: blue;
}

.background {

    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;

}

ul.timeline-3 {
    list-style-type: none;
    position: relative;
  }
  ul.timeline-3:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline-3 > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline-3 > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }

  .black-lives-matter {
    font-size: 8vw;
    line-height: 8vw;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
  }
  
  @keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }